jsthree/node_modules
earth/node_modules
weather/node_modules
scene/node_modules

# 忽略打包输出的mapvthree静态资源
jsthree/dist/mapvthree/
earth/dist/mapvthree/
weather/dist/mapvthree/
scene/dist/mapvthree/

# 忽略自定义模型
scene/models/

